.content {
  padding: 0 1em;
  border: 2mm blue dashed;
  border-style: dashed;
}

.tooltip {
  position: relative;
  display: inline-block;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 1000px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -100px;
  opacity: 0.9;
  transition: visibility 0s linear 0.5s, opacity 0.5s;
} 

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

